@mixin hide() {
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin replaceByImage($urlImage, $width, $height) {
  background-image: url($urlImage);
  overflow: hidden;
  text-indent: -9999px;
  width: $width;
  height: $height;
}

@mixin alone-item() {
  width: 135%;
  margin: 0 -16.7% 0 -16.6%;
  padding: 2.5em 0;

  h3{
    margin-left: 12.5%;
  }

  p{
    columns: 2;
    margin-left: 12.5%;
    margin-right: 12.5%;
    column-gap: 9.4em;
  }
}

@mixin alone-item-responsive() {
  width: 114%;
  margin: 0 -6.8% 0 -6.8%;

  h3{
    margin-left: 6%;
  }

  p{
    margin-left: 6%;
    margin-right: 6%;
  }
}