html{
  font-family: $main-font, $system-fonts;
  font-size: $global-font-size;
  line-height: $global-line-height;
  color: $global-text-color;
  max-width: 1920px;
  margin: 0 auto;
}
html, html *{
  box-sizing: border-box;
}
