[role="banner"]{
  height: 41em;
  padding-top: 14em;
  background: #3f4040 url($banner-bcg-image) center;
  background-size: cover;
}


@media (max-width: 800px) {
  [role="banner"]{
    height: 30em;
    padding-top: 10em;
  }
}
@media (max-width: 550px) {
  [role="banner"]{
    height: 25em;
    padding-top: 5em;
  }
}