.main{
  //height: 86.045454545454545454545454545455em;
  background: url($main-bcg-image) no-repeat;
  background-size: contain;
  padding: 2.5em 12.5%;

  [role="article"]{
    margin-bottom: 2.5em;
    width: 30em;

  }
  .explanation{
    float: left;
  }

  .participation{
    float: left;
    margin-left: 4em;
  }
  .benefits{
    float: left;


  }

  .requirements{
    clear: both;
  }
}


