.preamble{
  margin: 0 auto;
  padding: 2.5em 12.5%;
  color: $white-color;
  background-color: $light-gray;
  position: relative;
  
  &:after{
    content: '';
    display: block;
    width: 33%;
    height: 20em;
    background-image: url($preamble-image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 4em;
    left: 55%;
  }
  
  p{
    width: 53%;
  }

}

@media (max-width: 710px) {
  .preamble{
    position: static;

    &:after{
      content: normal;
      display: none;
      width: 0;
      height: 0;
      background-image: none;
      position: static;
    }

    p{
      width: 100%;
    }
  }
}