.preamble{
  min-height: 25em;
  margin: 0 auto;
  color: $white-color;
  background-color: $light-gray;
  h3{
    width: 21.6em;
    margin-left: auto;
  }
  p{
    width: 32.5em;
    margin-left: auto;
  }

}