.sidebar{
  //min-height: 20.636363636363636363636363636364em; //454px / 22em
  background-color: $sidebar-bcg-color;

  .wrapper{
    display: flex;
    padding: 2.5em 12.5%;

    > div{
      margin-right: 3em;

    }
  }

  ul{
    margin-left: 0;
  }

  li{
    list-style-type: none;
  }
  
  .designer-name{
    color: darken($link-text-color, 20%);
  }

  .indicator{
    display: none;
  }
}

@media (max-width: 1000px){
  .sidebar .wrapper{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    height: 25em;

    > div{
      margin-bottom: 2em;
    }
  }
}
@media (max-width: 710px){
  .sidebar .wrapper{
    padding: 2.5em 6%;
  }
}
@media (max-width: 640px){
  .sidebar .wrapper{
    display: block;
    height: auto;

    > div{
      margin-right: 0; 
    }
  }
}






