.summary{
  color: $white-color;
  background-color: $summary-dl-bar-bcg-color;
  padding: 0 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    margin: 0;
    padding: 1em 0;
  }

  p:nth-child(1) {
    width: 45%;
  }

  a{
    text-transform: uppercase;
  }
}


@media (max-width: 1000px) {
  .summary{
    display: block;

    p:nth-child(1){
      width: 35em;
    }
  }
}
@media (max-width: 710px) {
  .summary p:nth-child(1){
      width: 100%;
    }
}