@import url('https://fonts.googleapis.com/css?family=Montserrat');

$global-font-size: 22px;
$global-line-height: 1.4;
//$font-ratio: 1.802;


$vertical-space: 4.7272727272727272727272727272727 * $global-font-size;
$white-color: #ffffff;
$global-text-color: $white-color;
$dark-gray: #484e5c;
$light-gray: #6d717d;
$gray-text: #dddddd;
$main-font: 'Montserrat';
$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$banner-bcg-image: './banner-bcg.jpg';
$main-bcg-image: './main-bcg.jpg';
$preamble-image: './W3C.png';
$summary-dl-bar-bcg-color: $dark-gray;
$white-box-text-color: $dark-gray;
$white-box-bcg-color: $white-color;
$requirements-bcg-color: $light-gray;
$sidebar-bcg-color: $dark-gray;
$link-text-color: #BDFFFF;
