@import url('https://fonts.googleapis.com/css?family=Montserrat');

$global-font-size: 22px;
$responsive-font-size: 16px;
$global-line-height: 1.4;
$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$main-font: 'Montserrat';

$banner-bcg-image: './banner-bcg.jpg';
$main-bcg-image: './main-bcg.jpg';
$preamble-image: './W3C.png';



$light-gray: #393F4D;
$dark-gray: #2D3341;
$white-color: #ffffff;
$gray-text: #dddddd;
$light-blue: #BDFFFF;

$global-text-color: $white-color;
$link-text-color: $light-blue;
$summary-dl-bar-bcg-color: $dark-gray;
$benefits-bcg-color: $light-gray;
$requirements-bcg-color: $dark-gray;
$footer-bcg-color: $light-gray;
$sidebar-bcg-color: $dark-gray;
